.main-catalog {
    margin-top: 38px;
}

.catalog-block {
    display: flex;
    margin-top: 100px;
}

.left-column__title {
    font-size: 24px;
    font-weight: 400;
    color: #2A2A2A;
    margin: 0 0 16px;
}

.teacher-list {
    width: 359px;
    list-style: none;
    padding: 24px 0 0 0;
    margin: 0;
    border-top: 1px solid #2A2A2A;
}

.teacher-list__item {
    padding: 14px 0 14px 24px;
    cursor: pointer;
}

.teacher-list__link {
    width: 100%;
    display: inline-block;
    font-size: 18px;
    color: #2A2A2A;
    text-decoration: none;
}

.right-column {
    margin-left: 128px;
}

.right-column-subject {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.right-column-subject__title {
    font-size: 24px;
    font-weight: 400;
    color: #2A2A2A;
    margin: 0 0 24px 0;
}

.right-column-subject__name {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    color: #2A2A2A;
    margin-bottom: 16px;
    padding-left: 33px;
    position: relative;
}

.right-column-subject__name::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url("../../assets/ic-clip.svg") center no-repeat;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -9px;
}

.file-preview {
    margin-top: 20px;
}

.file-preview span {
    display: block;
    margin-bottom: 10px;
    padding-left: 33px;
    position: relative;
}

.file-preview span::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url("../../assets/ic-clip.svg") center no-repeat;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -9px;
}

.catalog-upload-file {
    margin-top: 10px;
}

.add-new-file {
    padding-left: 33px;
}

.notification-text {
    margin-top: 15px;
}